
html, body {
	height: 100%;
}

div#navbar-collapse {
    float: right;
}

a.navbar-brand {
    display: inline-flex;
    margin-left: 0!important;
}

p#brand-text {
    margin-left: 6px;
    margin-top: 4px;
}

#icon {
	height: 32px;
  width: 32px;
}

.footer {
  margin-bottom: 0px!important;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
  color: white;
}

.navbar-nav>li>.dropdown-menu {
  margin-top: 3px;
}

li.nav-item {
	height: 60px;
}

.footer-tooltip .label-success {
    color: #8cff8c;
		background-color: transparent;
}

.modal-header {
    border-bottom: 1px solid #e4b99c44;
}

.modal-content {
    height: auto;
    background: url(../images/bg-pattern.png);
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #26262644;
}

.table-hover>tbody>tr:hover {
    background-color: #555;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 1px solid #26262644;
}

button.btn.btn-info.qrcodeScanner {
    background-color: #262626bb;
    border: 1px solid #262626bb;
}

button.btn.btn-info.qrcodeScanner:hover {
    color: #F19B7Ebb;
}

button.deriveHDbtn.btn.btn-default {
    background-color: #262626bb;
    color: white;
    border-color: #262626bb;
}

button.deriveHDbtn.btn.btn-default:hover {
    color: #F19B7Ebb;
}

button#walletToBtn {
    padding: 7px;
    color: white;
    border: 0;
    background-color: #262626bb;
    font-size: 15px;
    margin-top: -2px;
}

span#walletAddress {
		border-radius: 3px;
    padding: 10px;
    background-color: #262626bb;
    font-size: 14px;
}

ul#putTabs {
    border-bottom: 1px solid #262626bb;
}

.input-group-addon {
    background-color: transparent;
    border: 0;
    padding: 0;
}

ul.nav.nav-pills {
    display: inline-grid;
}

.form-control {
	margin-bottom: 3px;
	color: #e4b99c!important;
  background-color: rgba(38, 38, 38, 0.7)!important;
}

a#walletBalance {
    background-color: #262626bb;
		color: #e4b99c;
}

.input-group-margin {
	margin-top: 5px;
}

.button-wallet {
	min-width: 170px;
	margin: 0px 0px 0px 0px!important;
}

.button-show {
	/*margin: -2px 0px 0px 10px!important;*/
  margin: 0px 20px 0px 0px!important;
}

.button-left {
	margin: -2px 10px 0px 0px!important;
}

.label-show {
	padding: 0px 35px!important;
}

.well {
  background-color: rgba(38, 38, 38, 0.7);
  border: 0;
}

.section-dark {
		background-image: linear-gradient(180deg,	transparent, #383737)!important;
}

.section-light {
		background-image: linear-gradient(180deg,	#e4b99c22, #6f6158)!important;
}

.alert-info {
    /*color: #F19B7E;
    background-color: rgba(38, 38, 38, 0.7);
    border: 0;*/
		color: white;
		background-color: #31708f88;
		border-color: #26262622;
}

.alert-warning {
	background-color: #ee5f5b88;
  border-color: #ed4d6388;
  color: #ffffff
}

.alert-danger {
  /*color: #F19B7E;
  background-color: rgba(38, 38, 38, 0.7);
  border: 0;*/
	background-color: #ee5f5b88;
  border-color: #ed4d6388;
  color: #ffffff;
}

a:focus, a:active {
    color: #F19B7E;
    text-decoration: underline;
}

a#donateTxBtn {
    color: #e4b99c;
}

a#donateTxBtn:hover {
    color: #F19B7E;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: white;
    cursor: default;
    background-color: #262626bb;
    border: 1px solid #262626bb;
    border-bottom-color: transparent;
}

.nav-tabs>li:hover>a {
		background-color: #262626bb;
		border-color: #262626bb;
		color: #F19B7E;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: white;
    text-decoration: none;
    background-color: rgba(100, 100, 100, 0.3);
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
  border-color: transparent;
  color: white;
}

.dropdown-menu>li>a {
  color: white;
	height: 40px;
	padding: 10px 23px;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  background-color: transparent;
  color: white;
}

.jumbotron {
	height: calc(100vh - 98px) !important;
  background: rgba(38, 38, 38, 0.8);
	margin-bottom: 0px!important;
}

p.text-muted {
	font-size: 15px;
}

.displaynone {
	display:none;
}

#wrap {
	height: auto;
	/* Negative indent footer by its height */
	margin: 2% auto 0 0;
}

.card {
	margin: 5px;
	min-height: 200px;
  padding: 2.5rem;
}

.page-subtitle {
	margin-bottom: 30px;
	font-size: 4rem;
}

#footer {
	height: 60px;
	background-color: #f5f5f5;
	padding-top: 20px;
}

.alert {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
}

#fees .txi_regular {
	background: #d3d3d3;
}

#fees .txi_segwit {
	background: #bae1ff;
}

#fees .txi_multisig {
	background: #baffc9;
}

#fees .txi_hodl {
	background: #ffdfba;
}

#fees .txi_unknown {
	background: #ffb3ba;
}

#fees .txo_p2pkh {
	background: #E679C8;
}

#fees .txo_p2sh {
	background: #FAFE92;
}

#fees .txinputs {
}

#fees .txoutputs {
}

.hideOverflow {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

#fees .slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 30px;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
	border: 2px dotted #c3c3c3;
}

#fees .sliderbtn {
	height: 30px;
	width: 30px;
	padding: 0px;
	margin: 0px;
	border: 0px;
}

#fees .slider:hover {
	opacity: 1;
}

#fees .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 32px;
	height: 32px;
	border: 0;
	background: url('https://coinb.in/images/btc32x.png');
	cursor: pointer;
}

#fees .slider::-moz-range-thumb {
	width: 32px;
	height: 32px;
	border: 0;
	background: url('https://coinb.in/images/btc32x.png');
	cursor: pointer;
}

#fees .total {
	font-size: 100px;
}

/* Fix console window being too low */
.footer-overlay.footer-panel-expand {
  bottom: 20px;
}

/* Wallet tab */
#walletQrCode img {
  border: 5px solid white;
}

#wallet .button-effect {
  width: 100%;
}

#wallet .nav>li>a {
  padding: 5px 0px;
}

#wallet .nav>li>a#walletBalance {
  margin: 5px 0px 10px 3px;
  padding: 15px;
}

#wallet #openBtn .button-effect {
  max-width: 250px;
}

#wallet ul.nav.nav-pills {
  min-width: 250px;
}
